<div style="margin: 0; padding: 0;  overflow: hidden;" ng-style="{'width': fixedHeaderCtrl.TableWidth, 'height': fixedHeaderCtrl.CompleteHeight}">
    <div class="fixed-header-div" style="margin: 0; padding: 0; overflow: hidden; position: absolute; z-index: 1000;" ng-style="{'width': fixedHeaderCtrl.TableWidth, 'height': fixedHeaderCtrl.HeaderHeight}">

    </div>
    <div class="fixed-content-div" style="margin: 0; padding: 0; overflow-y: scroll; overflow-x: hidden" ng-style="{'width': fixedHeaderCtrl.TableWidth, 'height': fixedHeaderCtrl.ContentHeight}" ng-transclude>

    </div>
</div>